body {
    background-image: url("../assets/503957228.jpg")
}

.chair {
    background-image: url("../assets/545151513.png")
}

.table {
    background-image: url("../assets/Tisch-201020506976.jpg")
}